DirectoryIndex first_qc_dashboard.php

# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:YqGc1bDu3e
allow from 152.59.161.17
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE YqGc1bDu3e:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:yPIk0pqRdL
allow from 152.56.132.8
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yPIk0pqRdL:IPALLOWID
